version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    depends_on:
      - db
      - alembic

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: yourusername
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: yourdatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  alembic:
    image: python:3.9
    volumes:
      - .:/app
    working_dir: /app
    command: bash -c "pip install -r requirements.txt && alembic upgrade head"
    environment:
      - PYTHONPATH=/app
    depends_on:
      - db

volumes:
  postgres_data: